<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Experience goes hand in hand with Fun</h5>
      <p align="justify" class="grey-text text-lighten-4">Website description</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Social</h5>
      <ul>
        <li><a class="white-text" href="https://www.facebook.com/gruici.andrei" target="_blank"><i class="fab fa-facebook"></i> Andrei Gruici</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <div class="left">
      © Andrei Gruici
    </div>
    <div class="right">
      <a href="#top" class="white-text"><i class="fas fa-chevron-up"></i></a>
    </div>
  
  </div>
</div>