{% extends "champs/navbar_common.html" %}

{% block buttons %}

  <li>
    <a href="{% url 'champion_create' %}">
      <i class="material-icons left">business_center</i>
      Add Champion
    </a>
  </li>

  <li>
    <a href="{% url 'account_logout' %}">
      <i class="material-icons left">business_center</i>
      Log Out
    </a>
  </li>

{% endblock buttons %}

{% block mobile_buttons %}
  <li><a href="{% url 'champion_create' %}">Add Champion</a></li>
  <li><a href="{% url 'account_logout' %}">Log Out</a></li>
{% endblock mobile_buttons %}
